.herocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 90px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  height: 450px;
  width: 450px;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 800;
}

h2 {
  font-weight: 400;
}

p {
  text-align: center;
  line-height: 1.4;
  font-size: 22px;
}

span {
  display: flex;
  gap: 25px;
  align-items: center;
}

span a {
  font-size: 30px;
  color: #222;
}

.icons {
  gap: 25px;
}

button {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

@media (width <= 930px) {
  .herocontainer {
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .img {
    height: 200px;
    width: 250px;
  }

  img {
    height: 250px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 20px;
  }
}
